*{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  box-sizing: border-box;
  color: white;
}
body{
  height: 100vh;
  width: 100%;
  background: linear-gradient(245deg, rgba(99, 39, 1, 0.66), rgba(1, 27, 115, 0.742), rgba(1, 27, 115, 0.742));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body h2 {
  background-color: rgba(254, 166, 253, 0.295);
  width: max-content;
  padding: 10px 40px;
  border-radius: 10px;
  margin: 20px auto;
}
.box {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-block-start: 50px;
  /* border: 1px solid rgb(216, 0, 202); */
  border-radius: 5px;
  padding: 40px 20px;
  background-color: #f778fb29;
}

.box h1 span {
  font-size: 35px;
  color: rgb(216, 0, 202);
  text-decoration: underline;
}
.password_box {
  width: 450px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px 0 8px 0;
}
.password_box #password {
  font-size: 1.2rem;
  width: 78%;
  font-weight: 600;
  text-indent: 10px;
  padding: 5px;
  /* background-color: rgb(85, 252, 252); */
  outline: none;
  color: rgb(62, 168, 168);
}
.password_box #password::placeholder {
  font-size: 1.2rem;
  padding: 5px 0;
}
.password_box button {
  font-size: 1.2rem;
  border-radius: 20px;
  border: 1px solid rgb(0, 151, 177);
  color: rgb(0, 151, 177);
  background-color: rgb(255, 255, 255);
  padding: 3px 15px 5px ;
  text-align: center;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
.password_box button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 151, 177);
}
.password_box button:active {
  opacity: 0.7;
}
.box .generate_Btn {
  background-color: rgba(0, 183, 76, 0.614);
  font-size: 20px;
  width: max-content;
  padding: 10px 30px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3sec;
}
.box .generate_Btn:hover {
  box-shadow: 0 0 10px white;
}
.box .generate_Btn:hover {
  opacity: 0.8;
}