*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgba(29, 49, 94, 0.785);
}
h2{
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  color: white;
  padding: 10px 20px;
  text-shadow: -2px -2px 2px rgb(87, 87, 87);
  border-radius: 10px;
  background: linear-gradient(220deg, rgba(245, 81, 248, 0.479), rgba(255, 255, 0, 0.475), rgba(126, 0, 128, 0.338));
  box-shadow: 0 0 5px rgba(179, 178, 178, 0.429);
  z-index: 100;
}
.container {
  margin: 100px 10%;
  padding: 10px 5%;
  /* width: max-content; */
  border-radius: 10px;
  /* box-shadow: 0 0 10px white; */
  background-color: rgba(167, 251, 251, 0.158);
}

.container h5 {
  box-shadow: 0 0 5px white;
  border: 1px solid rgb(219, 0, 197);
  /* text-align: center; */
  width: max-content;
  padding: 5px 20px;
  font-size: 20px;
  color: white;
  margin: 0 auto 10px;
  border-radius: 5px;
}
.container li {
  margin: 10px;
  font-size: 18px;
  border: 2px solid rgb(8, 254, 8);
  padding: 10px;
  background-color: rgba(29, 49, 94, 0.785);
  color: white;
  box-shadow: 0 0 5px white;
  border-radius: 10px;
  /* width: 80%; */
}
.container li span {
  font-size: 22px;
  color: rgb(159, 249, 249);
}
.container li .example {
  font-size: 17px;
  color: rgb(243, 175, 232);
  text-align: center;
  text-indent: 20px;
  display: inline-block;
}
.container li:hover {
  background-color: rgba(12, 56, 63, 0.87);
}
.container li:nth-child(2n) {
  border: 2px solid rgb(8, 238, 254);
}
.container li:nth-child(3n) {
  border: 2px solid rgb(255, 243, 7);
}
.container li:nth-child(4n) {
  border: 2px solid rgb(254, 8, 8);
}

