* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background: rgb(227, 237, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1{
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(168, 15, 143);
  background: linear-gradient(150deg, rgb(0, 176, 15),rgb(254, 2, 36), rgb(64, 0, 255), rgb(192, 222, 21));
  text-shadow: -3px -3px 3px rgb(0, 137, 152), 3px 0 3px rgb(0, 136, 151);
  color: white;
  padding: 10px 20px;
  margin: 0 10px 40px;
}
.progress {
  width: 160px;
  height: 160px;
  /* background: cadetblue; */
  position: relative;
}
.outer {
  padding: 20px;
  width: 180px;
  height: 180px;
 border-radius: 50%;
 /* border: 1px solid green; */
 box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.inner {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.412), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.12), 0px 12px 10px rgba(0, 0, 0, 0.05) ;
}
#percentage{
  color: rgb(85, 85, 85);
  font-size: 20px;
  font-weight: bold;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
}
circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 500;
  stroke-dashoffset:500;
  animation: progress_bar 2s linear forwards;
}
@keyframes progress_bar {
  100% {stroke-dashoffset: 120;}
}