*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgb(0, 186, 189), rgb(187, 0, 156));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#animation_box {
  width: 250px;
  height: 250px;
  background: linear-gradient(120deg, pink, blue);
  font-size: 13em;
  text-align: center;
  animation-name: slideRight;
  animation-duration: 2s;
}
@keyframes slideLeft{
  from{transform:translateX(100%)}
}
@keyframes slideRight{
  to{transform:translateX(100%)}
}

#calendar_box {
  display: flex;
  align-items: center;
  margin-block: 30px;
  height: 250px;
  width: 300px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
}
#calendar_box > .left-section,
#calendar_box > .right-section {
  height: 100%;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#calendar_box > .left-section{
  justify-content: center;
  width: 40%;
}
#calendar_box > .right-section {
  justify-content: center;
  width: 60%;
  color: white;
  background: linear-gradient(120deg, rgb(50, 189, 0), rgb(237, 57, 57), rgb(172, 172, 0),rgb(95, 255, 239));
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  line-height: 40px;
}
#right_box{
  text-align: center;
  padding-bottom: 20%;
}
#date {
  font-size: 60px;
  font-weight: 500;
  line-height: 80px;
}
#clock {
  border-top: 1px solid white;
  padding-top: 20%;
  width: 100%;
  text-align: center;
}
h1{
  color: white;
  line-height: 60px;
}
h3{
  color: rgb(104, 0, 0);
}