*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
}
#todo_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  /* background-color: yellow; */
  border: 1px solid yellowgreen;
  border-radius: 10px;
  margin-block: 20px;
  padding: 10px;
  width: max-content;
}
.input_field #todo_name,
.input_field #todo_date,
#descr_input {
  outline: none;
  padding: 10px 0;
  font-size: 1.1em;
  border-radius: 5px;
  /* text-align: center; */
  box-shadow: 0 0 5px darkslategray;
}
.input_field #todo_name{
  text-transform: capitalize;
  text-indent: 10px;
}
.input_field #todo_date{
  font-size: medium;
  text-align: center;
}
#descr_input {
  width: 100%;
  text-indent: 10px;
}

.create_field .add_button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3sec;
}
.create_field .add_button:hover {
  /* opacity: 0.8; */
  box-shadow: 2px 2px 5px rgb(197, 0, 184);
}
.create_field .add_button:active {
  opacity: 0.7;
}

.todo_list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  border-radius: 10px;
  border: 1px solid gray;
}
.todo_list .todo_box {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px lightslategray;
  width: 450px;
}

.title_box {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  column-gap: 5px;
}
.title_box .title {
  text-transform: capitalize;
  margin-right: 5px;
}
.delete_Btn {
  position: absolute;
  top: 5px;
  /* transform: translate(0, -50%); */
  right: 5px;
  height: 25px;
  width: 25px;
  background-color: rgb(209, 0, 0);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: all 0.3sec;
}
.delete_Btn:hover {
  background-color: white;
  border: 1px solid rgb(209, 0, 0);
  color: rgb(209, 0, 0);
}
.delete_Btn:active {
 box-shadow: 0 0 5px rgb(209, 0, 0);
}