*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 132, 141, 0.628);
}
h1{
  border-radius: 20px;
  box-sizing: border-box;
  /* box-shadow: 0 0 10px rgb(225, 225, 0); */
  padding: 10px 20px;
  background-color: rgb(212, 0, 201);
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-height:50%;
  background: linear-gradient(45deg, rgb(145, 255, 233), rgb(255, 245, 101));
  padding: 30px;
  border-radius: 10px;
}
#display {
  padding: 10px;
  font-size: 50px;
  font-weight: 600;
  color: rgb(116, 194, 0);
  margin: 30px;
}

#buttons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
#buttons button {
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s;
}
#buttons button:first-child{
  background: rgb(0, 121, 14);
}
#buttons button:nth-child(2){
  background: rgb(227, 4, 4);
}
#buttons button:nth-child(2):hover{
  background: rgb(255, 255, 255);
  border: 1px solid rgb(227, 4, 4);
  color: rgb(227, 4, 4);
}
#buttons button:last-child{
  color: rgb(0, 128, 131);
  border: 1px solid rgb(0, 128, 131);
}
#buttons button:last-child:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 128, 131);
}
#buttons button:hover {
  opacity: 0.8;
}
#buttons button:active {
  box-shadow: 0 0 10px rgb(249, 0, 207);
}