*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(158, 143, 172);
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-height:50%;
  background-color: rgb(42, 41, 41);
  padding: 30px;
  border-radius: 10px;
}
#display {
  padding: 10px;
  font-size: 40px;
  margin: 30px;
}

#buttons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
#buttons button {
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background: rgb(51, 51, 51);
  border: 1px solid rgb(139, 139, 139);
  color: white;
  font-weight: 600;
}
#buttons button:hover {
  opacity: 0.8;
}
#buttons button:active {
  opacity: 0.6;
}
